.pagination {
	display: flex;
	margin-bottom: 20px;
}

.pagination-item {
	display: block;
	min-width: 20px;
	text-decoration: none;
	color: #000000;
}

.pagination-item__current {
	color: #e4a788;
	text-decoration: underline;
}
