.all-locations-page {
	padding: 50px 150px;
}

.all-locations-page__content-wrapper {
	width: 1200px;
}

.all-locations-page__content-list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
}
